@charset "utf-8";
@import "hbVariables";
@import "hbReset";
@import "hbAnimated";
@import "sprite";
@import 'lib/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'lib/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@include sprites($spritesheet-sprites);
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate){
  display:none !important;
}
ng\:form{
  display:block;
}
.ng-animate-shim{
  visibility:hidden;
}
.ng-anchor{
  position:absolute;
}
body {
  font-size: 14px;
  line-height: 1.5;
  color: $mainTextColor;
}
.haloIcon{
  display: inline-block;
}

.btn-color-main {

  @include button-variant(#fff, $mainColor, $mainColor);
  border-radius: 0;
  &:active,
  &.active {
    @include box-shadow(none);
    //background-color: #fff;
    //&:focus,
    //&:focus,
    //&:hover,
    //&.hover {
    //  background-color: #fff;
    //}
  }
  //
  //&:focus,
  //&.focus {
  //  color: $mainColor;
  //  background-color: $mainColor;
  //  border-color: darken($mainColor, 25%);
  //}
  //&:hover {
  //  color: $mainColor;
  //  background-color: $mainColor;
  //  border-color: darken($mainColor, 12%);
  //}
  &.disabled,
  &[disabled] {
    color: #666666;
    //background-color: #666666;
    border-color: #666666;
    &:focus,
    &.focus {
      border-color: #666666;
    }
  }

}
.cardsuccess{
  background: linear-gradient(to bottom, #ee7624 0%, #ff5c36 100%);
  width: 100%;
  height:100%;
}

.btn-size-main {
  //@include button-size(7px, $padding-large-horizontal, 16px, $line-height-large, $btn-border-radius-large);
  padding: 11px 6px;
  font-size: 15px;

}


.btn-color-second {
  $mainColor:#f67521;
  @include button-variant( #fff,$mainColor,$mainColor);
  border-radius: 0.06rem;
  font-size: 0.24rem;
  padding: 3px 15px;
  &:active,
  &.active {
    @include box-shadow(none);
    //background-color: #fff;
    //&:focus,
    //&:focus,
    //&:hover,
    //&.hover {
    //  background-color: #fff;
    //}
  }
  //
  //&:focus,
  //&.focus {
  //  color: $mainColor;
  //  background-color: $mainColor;
  //  border-color: darken($mainColor, 25%);
  //}
  //&:hover {
  //  color: $mainColor;
  //  background-color: $mainColor;
  //  border-color: darken($mainColor, 12%);
  //}
  &.disabled,
  &[disabled] {
    color: #999999;
    background-color: #d5d5d5;
    border-color: #d5d5d5;
    &:hover,
    &.hover,
    &:focus,
    &.focus {
      background-color: #d5d5d5;
      border-color: #d5d5d5;
    }
  }

}


.btn-color-third {
  $mainColor:#f67521;
  @include button-variant($mainColor, #fff, $mainColor);
  border-radius: 0.06rem;
  font-size: 0.24rem;
  padding: 3px 15px;
  &:active,
  &.active {
    @include box-shadow(none);
    //background-color: #fff;
    //&:focus,
    //&:focus,
    //&:hover,
    //&.hover {
    //  background-color: #fff;
    //}
  }
  //
  //&:focus,
  //&.focus {
  //  color: $mainColor;
  //  background-color: $mainColor;
  //  border-color: darken($mainColor, 25%);
  //}
  //&:hover {
  //  color: $mainColor;
  //  background-color: $mainColor;
  //  border-color: darken($mainColor, 12%);
  //}
  &.disabled,
  &[disabled] {
    color: #666666;
    //background-color: #666666;
    border-color: #666666;
    &:hover,
    &.hover,
    &:focus,
    &.focus {
      border-color: #666666;
    }
  }

}

.uc-bt{
  display: inline-block;
}
.uc-bt-main{
  border: none;
  padding: 12px 15px;
  border-radius: 20px;
  background-color: #ff8f21;
  box-shadow: 0 3px 12px rgba(150,36,17,.4);
  background-image: linear-gradient(to top, #ff7123, #ffc354);
  text-align: center;
  &:active,&:focus{
    background-color: #ff7927;
    background-image:none;
  }
  &.disabled{
    opacity: 0.8;
  }
}

.uc-bt-second{
  border: none;
  padding: 12px 15px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 3px 12px rgba(150,36,17,.4);
  background-image: linear-gradient(to top, #ffd7ac, #fff);
  text-align: center;
  &:active,&:focus{
    background-color: #f2d7c6;
    background-image:none;
  }
  &.disabled{
    opacity: 0.8;
  }

}
.form-control-main{
  @include hbPlaceholder{
    color: #a0a0a0;
  }


  @include form-control-focus($mainColor);
  height: 44px;
  box-shadow: none;
  border-radius: 0;
  &:focus {
    $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px lighten($mainColor, 20%);
    @include box-shadow($shadow);
  }
}

.loading-box {
  padding: 30px;
  text-align: center;
  .haloIcon{
    font-size: 22px;
  }
}
.f-8{
  font-size:8px;
}
.f-9{
  font-size:9px;
}
.f-10{
  font-size:10px;
}
.f-11{
  font-size:11px;
}
.f-12{
  font-size:12px;
}
.f-13{
  font-size:13px;
}
.f-15{
  font-size:15px;
}
.f-16{
  font-size:16px;
}

.f-17 {
  font-size: 17px;
}

.f-18 {
  font-size: 18px;
}

.f-19 {
  font-size: 19px;
}

.f-20 {
  font-size: 20px;
}

.f-21 {
  font-size: 21px;
}
.f-22 {
  font-size: 22px;
}
.f-24 {
  font-size: 24px;
}
.f-25 {
  font-size: 25px;
}
.f-28 {
  font-size: 28px;
}

.f-30 {
  font-size: 30px;
}

.f-32 {
  font-size: 32px;
}
.f-35 {
  font-size: 35px;
}
.f-40 {
  font-size: 40px;
}
.f-56{
  font-size: 56px;
}

.color-pink {
  color: $mainColor;
}
.html-cover-loading{

}
.props-cover-loading{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 100px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .line-scale>div{
    background-color: #2dd5b1;

  }
  .line-scale>div{

    margin: 4px;
    width: 12px;
    height: 105px;
  }
}

.guest-info-wrapper{
  display: flex;
  align-items: center;
  height: 1.6rem;

  .avatar{
    margin-left: 0.3rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid #d7d7d7;
    border-radius: 50%;

  }
  .info{
    width: 4.25rem;
    margin-left: 0.2rem;
    .title{
      font-size: 15px;
    }
    .des{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 13px;
    }
  }
  .more{
    margin-left: 0.2rem;
    color: #a0a0a0;
    font-size: 0.24rem;
  }
}
.state-info-wrapper-line{
  background: #d7d7d7;
  height: 1px;
  margin-left: 0.3rem;
  transform: scale(1,0.5);

}
.state-info-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.74rem;
  .state{

    display: flex;
    align-items: center;
    justify-content: center;
    &.state-o{
      margin: 0 0.54rem;
    }
    .i{
      width: 0.34rem;
      height: 0.32rem;
      background-size: contain;
    }
    .i-a{
      background-image: url(../images/seat-a.png);
    }
    .i-o{
      background-image: url(../images/seat-o.png);
    }
    .i-s{
      background-image: url(../images/seat-s.png);
    }

    .t{
      margin-left: 0.11rem;
      line-height: 1;
      font-size: 12px;
    }
  }
}

.seat-list-box{
  background: #545454;
  color: #fffefe;
  overflow: hidden;
  position: absolute;
  top: 3.14rem;
  bottom: 0;
  left: 0;
  right: 0;
  .seat-list{
    width: 33.2rem;
    //height: 100%;
    height: 42rem;
    padding-top: 10rem;
  }


  .top-gap{
    height: 0.14rem;
  }
  .top-line{
    width: 3.75rem;
    height: 1px;
    margin: 0 auto;
    position: relative;
    background: #c8c8c8;
    &:before,&:after{
      content: '';
      position: absolute;
      width: 1px;
      height: 0.12rem;
      background: #c8c8c8;
      top: 0;
    }
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
    }
  }
  .sign{
    text-align: center;
    font-size: 10px;
    margin-top: 4px;

  }
  .disk{
    margin: 0 auto;
    margin-top: 0.03rem;
    width: 1.4rem;
    height: 0.30rem;
    line-height: 0.30rem;
    text-align: center;
    font-size: 0.2rem;
    color: #f67521;
    position: relative;
    background:  url(../images/text-desk-2.png) 0 0 no-repeat;
    background-size: contain;
    &:after{
      content: '';
      position: absolute;
      width: 1px;
      height: 5.29rem;
      top: 100%;
      left: 50%;
      margin-left: -0.01rem;
      background:  url(../images/dash-course.png) 0 0 repeat-y;
      transform: scale(0.5,1);
    }
  }

  .ruler{
    width: 0.20rem;
    border-radius: 0.03rem;
    background-color: rgba(#373737,0.8);
    position: fixed;
    left: 0.07rem;
    &.right{
      left: 32.88rem;
    }
    //top: 1.56rem+2.35rem;
    top: 0.99rem+10;
    .android &{
      //top: 1.47rem+2.35rem;
      top: 0.94rem+10;
    }
    font-size: 0.14rem;
    color: #b4b4b4;
    padding: 0.14rem 0;

    .col{
      height: 0.5rem;
      line-height: 1;
      font-size: 0.14rem;
      display: flex;
      align-items: center;
      justify-content: center;
      //background: #ffcc88;
      //&:nth-child(even){
      //  background: #338888;
      //}
    }
  }
  .ruler-horizontal-box{
    width: 32.35rem;
    border-radius: 0.03rem;
    position: fixed;
    top: 6.2rem+10;
    left: 0.47rem;
    background-color: rgba(#373737,0.8);
    font-size: 0.14rem;
    color: #b4b4b4;
    height: 0.2rem;
    line-height: 0.2rem;
    .ruler-horizontal{

      float: left;
      width: 0.4rem;
      height: 0.38rem;
      margin-left: 0.12rem;
      text-align: center;
      &:nth-child(31){
        margin-left: 1.3rem;
      }
      &:first-child{
        margin-left: 0;
      }
    }
  }
  .seat-array{
    width: 32.3rem;
    margin: 0 auto;
    margin-top: 0.25rem;
    .seat-row{
      margin-top: 0.12rem;
      &:first-child{
        margin-top: 0;
      }
    }

    .seat-cell{
      float: left;
      width: 0.4rem;
      height: 0.38rem;
      background-size: contain;
      margin-left: 0.12rem;
      &:first-child{
        margin-left: 0;
      }
      &:nth-child(31){
        margin-left: 1.3rem;
      }
      &.s-a{
        background-image: url(../images/seat-a.png);
      }
      &.s-o{
        background-image: url(../images/seat-o.png);
      }
      &.s-s{
        background-image: url(../images/seat-s.png);
      }
    }

  }

}

.book-wrapper{
  position: absolute;
  bottom: 0;
  left: 0.12rem;
  right: 0.12rem;
  box-shadow: 0 -1px 10px rgba(13,4,9,.14);
  .selected-seat-box{
    border-radius: 5px 5px 0 0;
    display: flex;
    padding-top: 0.26rem;
    padding-bottom: 0.06rem;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    .btn{
      margin-left: 0.22rem;
    }
    .text{
      font-size: 0.28rem;

    }
    .seat-num{
      height: 0.5rem;
      line-height: 1;
      display: flex;
      align-items: center;
      .haloIcon{
        margin-left: 0.14rem;
        font-size: 0.18rem;
      }
    }
  }
  .info-box{
    background-color: #ffffff;
    padding-top: 0.11rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title{
      font-size: 0.24rem;
    }
    .time{
      color: #666666;
      font-size: 0.22rem;
    }
    .btn{
      width: 2rem;
      height: 0.8rem;
      font-size: 0.34rem;

    }

  }
  .dash{
    width: 7.26rem;
    height: 0.41rem;
    position: relative;
    background:  url(../images/book-dash.png) 0 0 no-repeat;
    background-size: contain;
  }

}
.go-pay-spree{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  .bg{
    position: absolute;
    background: #000000;
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .dialog{
    width: 6rem;
    border-radius:0.2rem;
    background-color: #fff;
    box-shadow: 0 0.03px 0.2px rgba(150,36,17,.5);
    padding-bottom: 0.6rem;
    position: relative;
  }
  .coin{
    width: 2.85rem;
    height: 2.19rem;
    left: 1.68rem;
    position: absolute;
    background: url(../images/note.png) 0 0 no-repeat;
    background-size: contain;
    top: -0.65rem;
  }
  .text{
    text-align: center;
    padding-top: 1.95rem;
    font-size: 0.3rem;
    line-height: 2;
    color: #666666;
    .title{
      font-size: 0.3rem;
    }
    .content{
      margin-top: 0.45rem;
      font-size: 0.28rem;
      line-height: 1.8;
    }
  }

  .pay{
    width: 2.86rem;
    height: 0.8rem;
    padding: 0;

    .bt-img{
      width: 0.69rem;
    }
  }
  .bt-box{
    text-align: center;
    margin-top: 0.7rem;
  }

}

.go-book-success{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: #d9f2b0;
  background-image: linear-gradient(120deg, #f44123, #f68021 99%);
  .img-box{
    padding-top: 1.28rem;
    text-align: center;
    .img{
      width: 3.04rem;
      height: 2.66rem;
      margin-left: -0.2rem;
    }

  }
  .text-box{
    font-size: 0.26rem;
    color: #fde2cf;
    text-align: center;
    margin-top: 0.68rem;
    line-height: 1.7;



  }
  .bt-box{
    margin-top: 1.2rem;
    text-align: center;
    .summit{
      padding: 0;
      width: 5.60rem;
      height: 0.8rem;
      .bt-img{
        width: 1.81rem;
      }
    }
    .my-course{
      padding: 0;
      width: 5.60rem;
      height: 0.8rem;
      line-height: 0.8rem;
      .bt-img{
        width: 1.44rem;
        height: 0.32rem;
      }
    }
  }
}


.my-course-info-wrapper {
  padding: 0.20rem 0.4rem;
  padding-bottom: 0;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  .img-box {
    .img {
      width: 1.02rem;
      border: 0.05rem solid #fff;
      border-radius: 50%;
      background: #ffffff;
    }
  }
  .name-box {
    margin-top: 0.15rem;
    font-size: 0.26rem;
  }
  .title-box {
    margin-top: 0.45rem;
    font-size: 0.26rem;
  }
  .label-box{
    font-size: 0.3rem;
    margin-top: 0.45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .line{
      width: 0.8rem;
      height: 1px;
      transform: scale(1,0.5);
      background-color: #ffffff;

    }
    .text{
      margin: 0 1.14rem;
    }
  }
  .course-list-box{
    margin-top: 0.4rem;
    color: #464646;
    .item{
      width: 6.7rem;
      border-radius: 0.12rem;
      background-color: #fff;
      box-shadow: 0 0.03rem 0.12rem rgba(150,36,17,.4);
      padding-top: 0.48rem;
      padding-bottom: 0.5rem;
      margin-top: 0.4rem;
      &:first-child{
        margin-top: 0;
      }

      .avatar{
        .img{
          width: 1.24rem;
          height: 1.24rem;
          border-radius: 50%;
          border: 0.02rem solid $mainColor;
          padding: 0.03rem;
        }
      }
      .title{
        font-size: 0.3rem;
        margin-top: 0.27rem;
      }
      .area{
        font-size: 0.26rem;
      }
      .headline{
        margin-top: 0.8rem;
        font-size: 0.3rem;
      }
      .time{
        color: #666666;
        font-size: 0.26rem;
      }



    }
  }
  .bt-box{
    margin-top: 1rem;
    .uc-bt{
      padding: 0;
      width: 5.6rem;
      height: 0.8rem;
      line-height: 0.8rem;
    }
  }

  .is_owner-bt-box{
    .uc-bt{
      .bt-img{
        width: 2.19rem;
        height: 0.33rem;
      }
    }
  }
  .not_owner-bt-box{
    .uc-bt{
      .bt-img{
        width: 1.81rem;
        height: 0.33rem;
      }
    }
    margin-bottom: 1.2rem;
  }
  .msg-box{
    margin-top: 0.3rem;
    color: #fde2cf;
    font-size: 0.24rem;
    text-align: center;
    margin-bottom: 0.67rem;
  }

}
.html-props-cover{
  height: 1206px;

  &.cover-1000{
    background: url(../images/propscover/props-bg-1000.jpg) 0 0 no-repeat;
  }
  &.cover-1001{
    background: url(../images/propscover/props-bg-1001.jpg) 0 0 no-repeat;
  }
  &.cover-1002{
    background: url(../images/propscover/props-bg-1002.jpg) 0 0 no-repeat;
  }
  &.cover-1003{
    background: url(../images/propscover/props-bg-1003.jpg) 0 0 no-repeat;
  }
  &.cover-1004{
    background: url(../images/propscover/props-bg-1004.jpg) 0 0 no-repeat;
  }
  &.cover-1005{
    background: url(../images/propscover/props-bg-1005.jpg) 0 0 no-repeat;
  }

}
.body-props-cover{
  background-color: transparent;
}
#props-preloads {
  background-image: url(../images/propscover/light-1.png),url(../images/propscover/light-2.png);
  background-repeat: no-repeat;
  background-position:-9999px -9999px;
}
.props-light-box-wrapper{
  width: 653px;
  height: 224px;
  position: absolute;
  left: 47px;
  top: 22px;

  background: url(../images/propscover/lightbox.png) 0 0 no-repeat;
  .light{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/propscover/light-1.png);
    visibility: hidden;
    &+.light{
      background-image: url(../images/propscover/light-2.png);
    }
    &.loop-active{
      visibility: visible;
    }

  }

  .title{
    position: absolute;
    left: 133px;
    top: 74px;
    &.title-1000{

      width: 406px;
      height: 110px;
      background: url(../images/propscover/title-1000.png) 0 0 no-repeat;
    }
    &.title-1001{
      width: 408px;
      height: 113px;
      background: url(../images/propscover/title-1001.png) 0 0 no-repeat;
    }
    &.title-1002{
      width: 406px;
      height: 114px;
      background: url(../images/propscover/title-1002.png) 0 0 no-repeat;
    }
    &.title-1003{
      width: 404px;
      height: 114px;
      background: url(../images/propscover/title-1003.png) 0 0 no-repeat;
    }
    &.title-1004{
      width: 408px;
      height: 114px;
      background: url(../images/propscover/title-1004.png) 0 0 no-repeat;
    }
    &.title-1005{
      width: 408px;
      height: 114px;
      background: url(../images/propscover/title-1005.png) 0 0 no-repeat;
    }

  }
}
.props-bt-box-wrapper{
  width: 474px;
  height: 167px;
  position: absolute;
  left: 140px;
  top: 978px;
  .light {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/propscover/props-cover-bt-1.png);
    visibility: hidden;

    & + .light {
      background-image: url(../images/propscover/props-cover-bt-2.png);
    }
    &.loop-active {
      visibility: visible;

    }
  }
}

.props-rest-num-wrapper{
  width: 337px;
  height: 41px;
  position: absolute;
  left: 205px;
  top: 924px;
  background-image: url(../images/propscover/rest-bg.png);
  .num-box{
    position: absolute;
    left: 90px;
    top: -19px;
    display: flex;

  }
  .props-s-rest-box{
    width: 45px;
    height: 63px;
    background:  url(../images/propscover/num-bg.png) 0 0 no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .props-s-rest{
    margin-top: 4px;
    margin-left: -2px;


  }
}

.html-index{
  background: #ff5d2a;
  height:100%;
  &.makecard{
    background: #ff5d2a;
  }
}
.body-index {
  background: transparent;
  &.index{
    padding-bottom:20px;
  }
}
.props-index-bg{
  width:100%;
  img{
    width:100%;
  }
}
.props-index-tickets{
  display:flex;
  position:relative;
  padding:0 5px;
  margin-top:15px;
  .tickets-item{
    //flex:1 1 auto;
    text-align: center;
    padding:0 5px;
    width:33.33333%;
    float:left;
    .item-content{
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      position:relative;
      display:block;
      width:100%;
      box-shadow: 0 2px 10px rgba(191,41,16,.3);
      &.item-980{
        background-color: #d3d3d3;
        background-image: linear-gradient(340deg, #ed2578, #ff446c);
        .buy-now{
          color:#ed2578;
        }
      }
      &.item-1280{
        background-color: #d3d3d3;
        background-image: linear-gradient(340deg, #31a879, #7be5a9);
        .buy-now{
          color:#31a879;
        }
      }
      &.item-2680{
        background-color: #d3d3d3;
        background-image: linear-gradient(340deg, #0487f0, #0ccae9);
        .buy-now{
          color:#0487f0;
        }
      }
      .img{
        width:88px;
        height:136px;
      }
      .item-text{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        width:100%;
        color:#fff;
        .title{
          width:62px;
          text-align: center;
          margin:auto;
          img{
            width:100%;
          }
        }
        .price{
          margin:5px 0;
        }
        .buy-now{
          border-radius: 30px;
          background: #fff;
          padding:2px 12px;

        }
      }
    }

  }
}
.limit-block{
  margin-top:30px;
  padding:0 10px;
  .limit-block-content{
    background: #fff;
    border-radius: 6px;
    //min-height:318px;
    position: relative;
    padding:0 10px;
    padding-top:3px;
    .content-img{
      width:103.5px;
      position: absolute;
      left:50%;
      transform:translateX(-50%);
      top:-7.5px;
    }
    .timeout{
      text-align: right;
      margin-bottom:5px;
      padding-right: 2px;
      margin-top:5px;
      .text{
        color:#343434;
        @include media('<=ip5'){
          font-size:8px;
        }
      }
      .time{
        color:#343434;
        font-weight:bold;
        @include media('<=ip5'){
          font-size:8px;
        }
        #day,#hour,#minute,#seconds{
          color:#fff;
          background:#343434;
          padding:2px 3px;
          border-radius: 3px;

        }
      }
    }
    .tickets-list{
      padding-bottom:16px;
      .list-item{
        width:100%;
        //height:80px;
        border-radius: 5px;
        background-color: #fff8f6;
        border:1px solid #f3bec7;
        display: flex;
        justify-content:center;
        align-items: center;
        margin-bottom:16px;
        &:last-child{
          margin-bottom:0;
        }
        .item-left-pic{
          flex:0 0 104.5px;
          height:100%;
          @include media('<=ip5'){
            flex:0 0 82px;
          }
          img{
            width:100%;
            //height:81px;
          }
        }
        .item-right-desc{
          flex:1 1 auto;
          position:relative;
          padding-left:8px;
          color:#222222;
          margin-top:2px;
          @include media('<=ip5'){
            font-size:9px;
          }
          .desc-text{
            @include media('<=ip5'){
              font-size:12px;
            }
            color:#f44123;
            //display: flex;

            //margin-top:2px;
            .desc{
              //padding-right:4px;
            }
            .btn-minus{
              //border:1px solid #f44123;
              padding:1px 2px;
              text-decoration: line-through;
              color:#999999;
              margin-left:-2px;
            }
          }
          .buy-now{
            position: absolute;
            top:50%;
            transform:translateY(-50%);
            right:-1px;
            margin-top:2px;
            .buy-now-btn{
              color:#fff;
              background-image: linear-gradient(to top, #fd5081, #fe7d7e);
              border-radius: 5px 0 0 5px;
              background-color: #f00;
              padding:4px 7px;
              padding-right:0px;
              display: block;
              border:0;
              @include media('<=ip5'){
                padding:2px 2px;
                font-size:9px;
                border-radius: 3px 0 0 3px;
                .haloIcon{
                  font-size:8px;
                }
              }
              .haloIcon{
                margin-left:-3px;
              }
            }
            .text{
              color:#999999;
              text-align: center;
              margin-top:2px;
              @include media('<=ip5'){
                font-size:8px;

              }
            }
          }
        }
      }
    }
  }
}
.festival-block{
  margin-top:5px;
  .festival-title{
    text-align: center;
    width:100%;
    margin:auto;
    img{
      width:100%;
    }
  }
  .festival-list{
    .festival-list-item{
      margin-top:130px;
      text-align: center;
      &:first-child{
        margin-top:10px;
      }
      .list-item-title{
        position: relative;
        //padding:0 30px;
        display: flex;
        align-items: center;
        margin-bottom:20px;
        width:84%;
        margin: auto;
        .item-title {
          position: relative;
          text-align: center;
          border: 1px dashed #faada0;
          display:inline-block;
          padding:6px 20px;
          border-radius: 30px;
          flex: 0 0 250px;
          height:35px;
          margin: 0 2px;
          background: #ff5d2a;
          z-index:2;
          .title-img{
            width:288px;
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            top:-12px;
            //background: #ff5d2a;
            img{
              width:100%;
            }
          }
          .title-text{
            //min-width:200px;
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            bottom:-14px;
            background: #e6420e;
            border-radius: 30px;
            color:#fff;
            width:95%;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            //padding:2px 0;
            //height:20px;
            //line-height: 20px;
            span{
              vertical-align: middle;
            }
          }
        }
        .item-line{
          flex:1 1 auto;
          height:1px;
          //border:1px dashed #faada0;
          /*.ios &{
            border: 0.5px dashed #faada0;
          }*/
        }
        .line-square{
          width:100%;
          position:absolute;
          top:16px;
          left:50%;
          border:1px dashed #faada0;
          height:285px;
          margin: auto;
          transform: translateX(-50%);
          z-index:1;
          .wrapper{
            position: relative;
            width:100%;
            height:100%;
          }
          &.line-square-6{
            height:475px;
            @include media('<=ip5'){
              height:450px;
            }
          }
        }
      }
      .list-item-content{
        //display: flex;
        position: relative;
        padding: 0 5px;
        display:block;
        margin-top:20px;
        .content-item{
          //flex: 0 0 33.333%;
          text-align: center;
          padding: 0 5px;
          width:33.3333333333%;
          float:left;
          margin-top:15px;
          position: relative;
          z-index:2;
          .item-wrapper{
            background: #fff;
            border-radius: 6px;
            position: relative;
            padding:0;
            padding-bottom:10px;
            .img-wrapper{
              height:90px;
              @include media('<=ip5'){
                height:75px;
              }
            }
            img{
              width:100%;
            }
            .props-name{
              margin-top:5px;
              font-weight:bold;
              color:#222222;
              @include media('<=ip5'){
                font-size:10px;
              }
            }
            .props-info{
              color:#999999;
              margin-bottom:5px;
            }
            .price-before{
              color:#999999;
              text-decoration:line-through;
            }
            .price-now{
              .price-text{
                color:#fff;
                background: #f65624;
                padding:2px 3px;
                border-radius: 4px;
              }
            }
          }
        }
      }
      .list-item-text{
        left:50%;
        transform: translateX(-50%);
        position: absolute;
        z-index:2;
        bottom:26px;
        color:#fff;
        font-size:14px;
        width:100%;
        font-weight:bold;
      }
      .list-item-btn{
        border-radius: 22px;
        color:#fff;
        background-image: linear-gradient(to top, #fd8725, #ffce2e);
        padding: 5px 12px;
        width:150px;
        margin-top:30px;
        position: absolute;
        z-index:2;
        box-shadow: 1px 1px 10px rgba(191,41,16,.3);
        left:50%;
        transform: translateX(-50%);
        bottom:-17px;
        border:0;
      }
    }
  }
}

.sign-block{
  position: relative;
  padding:0 10px;
  margin-top:140px;

  //margin-bottom:50px;
  .sign-content{
    position: relative;
    padding:0 4px;
    //height:550px;
    //background: #fff;
    border-radius: 6px;
    border:1px solid #ffed84;
    padding-top:20px;
    padding-bottom:10px;
    background: #e35022;
    .sign-title{
      //width:160px;
      text-align: center;
      position: absolute;
      left:50%;
      transform: translateX(-50%);
      top:-20px;
      //background: #f65624;
      img{
        width:160px;
      }
    }
    .last-prize{
      padding:0 3px;
      width:50%;
      margin-top: 10px;
      float: left;
      height:111px;
      @include media("<=ip5"){
        width:66.66666666666%;
        height:111px;
      }
      img{
        width:100%;
        height: 100%;
      }
    }
    .sign-list{
      //display: flex;
      .list-item{
        width:25%;
        float:left;
        //flex:0 0 25%;
        padding:0 3px;
        margin-top:10px;
        @include media('<=ip5'){
         // flex:0 0 33.3333%;
          width:33.3333333%;
        }
        .item-content{
          background: #fff;
          border-radius:6px;
          text-align: center;
          padding:10px;
          .item-img{
            width:59px;
            margin:auto;
            display: block;
          }
          .item-date{
            font-weight:bold;
            margin-bottom:8px;
          }
          .get-btn{
            margin-top:10px;
            border-radius: 10px;
            padding: 1px 8px;
            width:100%;
            text-align: center;
          }
          &.unclaimed{
            .received-wrapper{
              height:37px;
            }
            .item-date{
              color:#fd2f3c;
            }
            .get-btn{
              background-color: #d4d4d4;
              background-image: linear-gradient(to top, #fd5081, #fe7d7e);
              color:#fff;
            }
          }
          &.overtime{
            .received-wrapper{
              height:37px;
            }
            .item-date{
              color:#d4d4d4;
            }
            .get-btn{
              background-color: #eeeeee;
              color:#d5d5d5;
            }
          }
          &.received{
            background-color: #fff;
            background-image: linear-gradient(160deg, #fbc61b ,#fe692a);

            .item-date{
              color:#fff;
            }
            .get-btn{
              background-color: #fff;
              color:#fd9a23;
            }
            .received-wrapper{
              width:59px;
              margin:auto;
              position: relative;
              height:37px;
              img{
                width:100%;
              }
              .text-price{
                position: absolute;
                left:50%;
                transform: translateX(-50%);
                top:4px;
                color:#fd9a23;
                font-weight:bold;
                .text{
                  font-weight:bold;
                  position: relative;
                  top:1px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.coupons-block{
  padding:0 10px;
  padding-bottom:15px;
  .coupons-item{
    margin-top:15px;
    background: #fff;
    border-radius: 6px;
    //height:100px;
    width:100%;
    box-shadow: 0 3px 12px rgba(150,36,17,.4);
    display: flex;
    align-items: center;
    .item-left{
      flex:0 0 89px;
      border-right:3px dotted #e8e8e8;
      padding:23px 0;
      position: relative;
      .bg-pic{
        width:70px;
        position: absolute;
        bottom:0;
        left:0;
        z-index:1;
        border-bottom-left-radius: 6px;
        opacity:.1;
      }
      .big-reward{
        position: absolute;
        top: 12px;
        left: 6px;
        z-index: 1;
        width: 77px;
      }
      .item-content{
        text-align: center;
        position: relative;
        z-index:2;
        .price{
          //color:#ff8e55;
          font-weight:bold;
        }
        .text{
          color:#999999;
        }
      }
    }
    .item-right{
      padding-left:5px;
      .item-desc{
        .haloIcon{
          color:#d7d7d7;
          position: relative;
          top:4px;
          -webkit-text-stroke-width: 0;
        }
        .text{
          color:#464646;
          display: block;
          @include media('<=ip5'){
            font-size:11px;
          }
          &:last-child{
            padding-left:22px;
          }
        }
      }
      .item-date{
        color:#999999;
        @include media('<=ip5'){
          font-size:11px;
        }
        .haloIcon{
          color:#d7d7d7;
          position: relative;
          top:3px;
          -webkit-text-stroke-width: 0;
        }
      }
    }
  }
  .no-coupon-box{

    .tip{

      width: 3.81rem;
      height: 2.49rem;
      margin: 0 auto;
      margin-top: 1.42rem;
      background-repeat: no-repeat;

      background-image:  url(../images/no-coupon.png);
      background-size: contain;
    }
    .bt-box{
      text-align: center;
      margin-top: 1.2rem;

      .uc-bt{
        padding: 0;
        width: 5.6rem;
        height: 0.8rem;
        line-height: 0.8rem;
      }
      .bt-img{
        width: 1.44rem;
        height: 0.33rem;

      }

    }




  }


}
#success-modal{
  .modal-dialog{
    margin:0;
    height:100%;
    .modal-content{
      background: transparent;
      border: 0;
      box-shadow:none;
      text-align: center;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      .collect-btn{
        //position: absolute;
        //bottom:10px;
        width: 308px;
        box-shadow: 0 3px 12px rgba(150,36,17,.4);
        background-image: linear-gradient(to top, #ff7123, #ffc354);
        border-radius: 6px;
        border:0;
        //transform:translateX(-50%);
        //left:50%;
        //bottom:-50px;
        margin-top:15px;
        img{
          width:123.5px;
          padding:6px 12px;
        }
      }
    }
  }
  .modal-body{
    padding:0;
    text-align: center;
    .modal-bg{
      width:308px;
    }
    .top-content{
      position: absolute;
      top:62px;
      left:50%;
      transform: translateX(-50%);
      font-weight:bold;
      width:260px;
      .text1{
        color:#8a4203;
      }
      .company{
        color:#ee4655;
      }
      .price{
        color:#ee4655;
        font-style:italic;
        &.text{
          .zhe{
            position: relative;
            top:-4px;
          }
          margin-bottom:-15px;
          margin-top:-15px;
        }
        &.sign{
          //margin-top: -10px;
          margin-bottom: -8px;
        }

      }
      .text2{
        color:#8a4203;
        //margin-top:-14px;
      }
    }
    .bottom-content{
      position: absolute;
      bottom:0px;
      left:50%;
      transform: translateX(-50%);
      font-weight:bold;
      width:100%;
      color:#fff;
      //font-weight:bold;
      padding-bottom:10px;
      line-height: 23px;
      .text3{
        color:#ffdc3b;
      }
    }
  }
}
#last-prize-modal{
  text-align: center;
  .modal-dialog{
    height:100%;
  }
  .modal-content{
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:0;
    width: 100%;
    .modal-body{
     img{
       width:100%;
     }
    }
  }
  #center_btn{
    width: 308px;
    box-shadow: 0 3px 12px rgba(150,36,17,.4);
    background-image: linear-gradient(to top, #ff7123, #ffc354);
    border-radius: 6px;
    //transform:translateX(-50%);
    //left:50%;
    //bottom:-50px;
    margin-top:15px;
    img {
      width: 123.5px;
      padding: 6px 12px;
    }
  }
}
.makecard{
  background-image: linear-gradient(-30deg, #f44123, #f67521);
  width: 100%;
  height:100%;
  .makecard-body{
    background: transparent;
    .makecard-block{
      padding:25px 10px;
      .block-title{
        padding:0 10px;
        text-align: center;
        color: #fee8d9;
        font-size: 0.28rem;
        margin-bottom: 5px;
        position: relative;
        display: flex;
        align-items: center;
        padding-bottom:20px;

        .border{
          flex: 1 1 auto;
          height: 1px;
          border: 1px dashed #fee8d9;
          width: 50px;
          display: inline-block;
        }
        .text{
          flex: 0 0 2.8rem;
        }
      }
      .block-content{
        background: #f9f9f9;
        border-radius: 8px;
        padding:25px 20px;
        //padding-bottom:0;
        .title{
          text-align: center;
          color:#535555;
          font-weight:bold;
          line-height: 25px;
          letter-spacing:1px;
        }
        .form-content{
          //margin-top:.5rem;
          .input-box{
            position: relative;
            display: flex;
            align-items: center;
            padding-top: 8px;
            padding-bottom: 8px;
            border-bottom: 1px solid #e1e6e3;
            .ios &{
              border-bottom: 0.5px solid #e1e6e3;
            }
            .form-label{
              flex: 0 0 78px;
              margin-bottom: 0;
              box-flex: 0;
            }
            .form-input{
              flex: 1 1 auto;
              border: none;
              outline: none;
              background: #f9f9f9;
              box-shadow: none;
              padding-left: 10px;
              -webkit-appearance: none;
              height: 28px;
              box-flex: 1;
            }
            .code-btn{
              box-flex: 0;
              color:#f44123;
              padding:5px;
              border:1px solid #f44123;
              border-radius: 5px;
              text-align: center;
              flex: 0 0 100px;
              background: #f9f9f9;

              //display:inline-block;
              /*position: absolute;
              top:50%;
              transform: translate(-50%,-50%);
              right:0;*/
            }
          }
          .desc-text{
            color:#999999;
            margin-top:20px;
          }
          .input-block{
            position:relative;
            height:45px;
            border-bottom: 1px solid #e1e6e3;
            .form-label{
              width:2rem;
              line-height: 45px;
              margin-bottom:0;
            }
            .form-input{
              border: none;
              outline: none;
              background: #f9f9f9;
              box-shadow: none;
              height: 28px;
              width:2rem;
            }
            .code-btn{
              width:1.5rem;
              text-align: center;
              position: absolute;
              top:50%;
              right:0;
              transform: translateY(-50%);
              background: #f9f9f9;
              color:#f44123;
              border:1px solid #f44123;
              padding:5px 0;
              @include media('<=ip5'){
                width:1.8rem;
              }
            }
          }
        }
        .form-submit{
          width: 210px;
          height: 40px;
          -webkit-border-radius: 39px;
          -moz-border-radius: 39px;
          border-radius: 39px;
          background-color: #b6bebb;
          -webkit-box-shadow: 0 3px 12px rgba(150, 36, 17, 0.4);
          -moz-box-shadow: 0 3px 12px rgba(150, 36, 17, 0.4);
          background-image: linear-gradient(to top, #ff7123, #ffc354);
          position: relative;
          margin: 20px auto;
          margin-bottom:0;
          display: block;
          .img{
            width: 66px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      .weixin-pic{
        width:100%;
        padding:0 73px;
        padding-top: 30px;
        img{
          width:100%;
        }
      }
    }
  }
}
#hotel-modal{
  .modal-dialog{
    margin:10px 36px;
    //height:100%;

  }
  .modal-body{
    text-align: center;
    display: flex;
  }
  .left{
    flex:1 1 auto;
    border-right:1px solid #cecece;
    padding:0 14px;
  }
  .right{
    flex:1 1 auto;
    padding:0 14px;
  }
  .modal-body{
    padding:15px 0;
  }
  .modal-content{
    /*position: absolute;
    width:100%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);*/
    margin-top:100px;
  }
}
.weui_dialog{
  z-index:1900;
}

.body-goods{
  background-color: #f6f6f6;
  padding-bottom: 1.3rem;

  .keyboard-show.ios &{
    padding-bottom: 0;
  }


  .block-wrapper{

  }
  .block-title{
    height: 0.84rem;
    line-height: 0.84rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  .block-content{
    background-color: #ffffff;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: #999999;

  }
  .block-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0;
    font-size: 0.24rem;
    border-top: 1px solid #ebebeb;
    .ios &{
      border-top-width: 0.5px;
    }
    &:first-child{
      border-top: none;
    }
  }

  .address-box{

  }

  .item-list-box{
    .item{
      display: flex;
      align-items: center;
      height: 0.9rem;
      font-size: 0.24rem;
      border-top: 1px solid #d7d7d7;
      .ios &{
        border-top-width: 0.5px;
      }

      &:first-child{
        border-top: none;
      }
      .title{
        color: #999999;
        margin-right: 0.3rem;
      }
      .content{
        width: 5.6rem;
        .control {
          width: 100%;
          border: 0;
          outline: none;
          background-color: transparent;
          -webkit-appearance: none;
          padding-left: 10px;
          padding-right: 10px;
          &.placeholder{
            color: #aaa;
          }
          @include hbReplace('.control','select.control'){
            .android &{
              padding-left: 6px;
              padding-right: 6px;
            }
          }
        }
      }
    }
  }


  .cover-wrapper{
    img{
      width: 100%;
    }
  }
  .name-wrapper{
    padding: 0.3rem 0.3rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name-box{
      font-size: 0.3rem;
      color: #333333;
      .name{
        font-size: 0.34rem;
      }
      .sub-name{
        font-size: 0.26rem;
      }
    }
    .price-box{
      color: #ff4455;
      white-space: nowrap;
      margin-left: 10px;
      .rmb{
        font-size: 0.31rem;
      }
      .num{
        font-size: 0.4rem;
      }
    }
  }
  .sku-wrapper{

    .block-content{
      padding-left: 0;
      padding-right: 0;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;

    }
    .sku-item-box{
      width: 50%;
      float: left;
      padding: 0 0.25rem 0 0.3rem;
      margin-top: 0.3rem;

      &:first-child,&:first-child+.sku-item-box{
        margin-top: 0;
      }

      .sku-name{
        height: 0.8rem;
        line-height: 0.8rem;
        border-radius: 3px;
        border: 1px solid #ebebeb;
        .ios &{
          border-width: 0.5px;
        }
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        &.active{
          color: #ff4455;
          border-color: #ff4455;
        }
      }

    }
  }
  .bt-wrapper{
    height: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    .number-box{
      width: 3.5rem;
      border-top: 1px solid #d7d7d7;
      position: relative;
      display: flex;
      justify-content: center;
      height: 100%;

      .control{
        width: 1.5rem;
        height: 100%;
        text-align: center;
        border: none;
        border-left: 1px solid #d7d7d7;
        border-right: 1px solid #d7d7d7;
        -webkit-appearance: none;
        background-color:#fff;
        border-radius: 0;
        &[disabled]{
          color: #d7d7d7;
          background: rgb(235, 235, 228);
          opacity: 1;
          color: inherit;
        }
      }
      .bt{
        position: absolute;
        width: 1rem;
        height: 1rem;
        border: none;
        top: 0;
        background-color: #ffffff;
        color: #666666;
        font-size: 0.6rem;
        padding: 0;
        &[disabled]{
          color: #d7d7d7;
          background: rgb(235, 235, 228);
        }
        &.minus{
          left: 0;
        }
        &.add{
          right: 0;
        }
      }
    }
    .pay-box{
      width: 4rem;
      background-color: #ff4455;
      height: 100%;
      border: none;
      color: #ffffff;
      &[disabled]{
        background-color: #999999;

      }
    }
    .keyboard-show.ios &{
      position: relative;
      margin-top: 0.3rem;
    }
  }
}

